@charset "UTF-8";
* {
  box-sizing: border-box;
}

button {
	cursor:pointer;
}

a {
	cursor:pointer;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
.navbar{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}

.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}

.navbar #menu li a {
  text-decoration: none;
  color: rgb(255, 255, 250) ;
  font-size: 13px;
  font-weight: bold;
}

.navbar #menu .menu-item {
    position: relative; /* 부모 요소에 상대적 위치 설정 */
}

.navbar #menu .menu-item .tooltip {
   visibility: hidden;
    background-color: rgb(6, 215, 173);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    line-height: 1.2;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    padding: 2px;
    top: 100%; /* 툴팁을 메뉴 아이템 아래에 표시 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; 
}

.navbar #menu .menu-item a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* hero header */
.hero-header{
  height: 450px;
  background-image: url("../images/hero_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
/* products */

.products h3{
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
.product-list{
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.product{
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 80px;
  
}

.product-name{
  margin-top: 20px;
  margin-bottom: 4px;
  
}
.clearfix{
  clear: both;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;

}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* You can adjust the background color as needed */
  padding: 0px 0;
  height: 50px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* You can adjust the background color as needed */
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.fixed-footer a {
  text-decoration: none; /* Remove underline */
  color: #888888; /* Default color for unselected numbers */
}

.fixed-footer a.selected {
  color: #000000; /* Black color for selected numbers */
}
#logout{
	  background: #25C7A0;
            border: 1px solid #25C7A0;
            color: #fff;
}

.MoreHeaderView_button_wrap__B-cQ2 {
    flex-shrink: 0;
    padding-top: 2px;
}
.MoreHeaderView_button_item__gv6pa {
    background: rgb(18, 203, 166);
    color: rgb(255, 250, 250);
    border-radius: 16px;
   
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    padding: 9px 15px;
    vertical-align: top;
}