@charset "UTF-8";
html {
	font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈  */
body, ul, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a:link {
	color: lightblue;
}

/* 라이브러리 */
.con {
	margin: 0 auto;
}

.img-box>img {
	width: 100%;
	display: block;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.cell {
	float: left;
	box-sizing: border-box;
}

.cell-right {
	float: right;
	box-sizing: border-box;
}

.margin-0-auto {
	margin: 0 auto;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.text-align-center {
	text-align: center;
}

.line-height-0-ch-only {
	line-height: 0;
}

.line-height-0-ch-only>* {
	line-height: normal;
}

.relative {
	position: relative;
}

.absolute-left {
	position: absolute;
	left: 0;
}

.absolute-right {
	position: absolute;
	right: 0;
}

.absolute-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* 커스텀 */
/* 반응형 레이아웃 */
.con {
	max-width: 950px;
}

.con-min-width {
	min-width: 320px;
}

.top-menu a {
	text-decoration: none;
	color: gray;
	font-weight: bold;
	font-size: 1.2rem;
}

html, body { 
	overflow-x: hidden;
}

.table-common>table {
	width: 100%;
	border-collapse: collapse;
}

.table-common .btn-box {
	text-align:center;
}

.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 10px;
}

.article-list table {
    border:none;   
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
}

.article-list > table th, .article-list > table td {
    border:none;
}

.article-list > table td {
    border-bottom:1px solid lightgray;
}

.article-list > table thead {
    border-bottom:2px solid lightgray;
    background-color:#F5F5F5;
}

.article-detail {
    border:2px solid lightgray;
}

.article-detail > table {
    border:none;
    width:calc(100% - 100px);
}

.article-detail > table th, .article-detail > table td {
    border:none;
}

.article-detail > table tr:not(:last-child) {
    border-bottom:1px solid lightgray;
}

.article-detail > table tr:not(.article-body), .article-detail > table tr:not(.article-body) > td{
    height:20px;
    font-size:0.8rem;
}

.article-detail > table tr.article-title > td {
    height:40px;
    font-weight:bold;
    font-size:1.2rem;
}

.article-detail > table td:last-child {
    padding-right:100px;
}

.article-detail > .article-writer {
    width:100px;
    height:102px;
    background-color:lightgray;
    border-bottom:1px solid lightgray;
    text-align:center;
}

.article-detail > .article-writer .writer-icon {
    margin:0 auto;
    background-color:white;
    width:80px;
    height:80px;
    border-radius:50%;
}

.reply {
    margin-top:20px;
    border:2px solid lightgray;
    padding:15px;
    box-sizing:border-box;
}

.reply-form {
    padding:10px;
}

.reply-form > form input[type="text"] {
    width:200px;
}

.reply-form > form textarea {
    width:calc(100% - 100px);
    min-height:40px;
}

.reply-form > form input[type="submit"] {
    width:80px;
    height:40px;
    transform:translatey(-40%);
}

.reply-form > form > div:not(:last-child) {
    margin-bottom:5px;
}

.reply-list > table {
    border:none;
}

.reply-list > table th {
    display:none;
}

.reply-list > table td {
    border:none;
}

.reply-list > table tr:nth-child(2n+1) {
    background-color:rgba(0,0,0,0.06);
}

.reply-list > table td:first-child {
    font-weight:bold;
}

.reply-list > table td:first-child::after {
    content:" : ";
    font-weight:bold;
}	

/* 2 */
.css-46rlgz-defaultStyle .agreeTable {
    margin-top: 17px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    word-break: break-all;
}
.css-11849r4-defaultStyle .myPageContainer {
    float: left;
    width: calc(100% - 260px);
}
/* table */
.css-46rlgz-defaultStyle .agreeTable thead th:first-of-type {
    border-left: 0px;
}
.css-46rlgz-defaultStyle .agreeTable thead th {
    height: 50px;
    padding: 10px 20px;
	color: #fff;
    text-align: center;
    border-left: 1px solid rgb(221, 221, 221);
}
th {
    padding: 16px 20px;
    background-color: #444;
    font-size: 15px;
    color: rgb(102, 102, 102);
    text-align: left;
    border-bottom: 1px solid rgb(238, 238, 238);
    vertical-align: middle;
}
tbody {
	background: rgb(249, 250, 251);
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.css-46rlgz-defaultStyle .agreeTable tbody td:first-of-type {
    border-left: 0px;
}
.css-46rlgz-defaultStyle .agreeTable tbody td {
    height: 50px;
    padding: 10px 20px;
    color: rgb(102, 102, 102);
    line-height: 1.25;
    text-align: center;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 0px;
    border-left: 1px solid rgb(221, 221, 221);
}

.af{
    padding: 18px 10px;
    text-align: right;
}
.af a{
	color:#25C7A0;	
}

/* 하단 */
.pagecontroller {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f7fa;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.pagecontroller a {
    text-decoration: none;
    color: #888888;
}
.myp-form-wrap .form-title2 {
	margin-top: 24px;
    padding-left: 0;
    padding-bottom: 5px;
    font-size: 14px;
	color: rgba(0,0,0,.4);
    font-weight: 500;
}
.myp-form-wrap .form-title3 {
    padding-left: 0;
    padding-bottom: 5px;
    font-size: 14px;
	color: rgba(0,0,0,.4);
    font-weight: 500;
}
.like-container {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 수직 가운데 정렬 */
}