@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, div, p, header, main, video, audio, footer, nav, aside, article, span, em, strong, i, ol, ul, li, a, legend, fieldset, label, input, select, textarea, button, time, abbr, address, area, b, br, table, caption, summary, tbody, thead, tfoot, tr, th, td, dl, dt, dd, figcaption, figure, form, iframe, mark, pre, hr {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Apple SD Gothic Neo", AppleGothic, globalWebFont, Malgun-gothic, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.css-11849r4-defaultStyle {
    width: 1200px;
    margin: 0px auto;
    padding: 45px 0px 100px;
}
.css-11849r4-defaultStyle::after {
    content: "";
    display: block;
    clear: both;
}
.css-jo3gxq-defaultStyle.myPagelnbWrapper {
    float: left;
    width: 220px;
    margin-right: 40px;
}
.css-jo3gxq-defaultStyle .mypageLnb {
    width: 100%;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbTitle {
    color: rgb(51, 51, 51);
    font-size: 24px;
    line-height: 1;
    margin-bottom: 60px;
}
element.style {
    font-size: inherit;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper {
    padding-bottom: 40px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .mypageLnbSubTitle {
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 1;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .myPageLnbList {
    line-height: 1;
}
ul, ol, li {
    list-style-type: none;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .myPageLnbList a {
    line-height: 1;
    display: inline-block;
    margin-top: 20px;
    padding-left: 10px;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
/* 본문 */

.css-11849r4-defaultStyle .myPageContainer {
    float: left;
    width: calc(100% - 260px);
}
.css-man8h3-defaultStyle .userBaseInfo {
    position: relative;
    z-index: 5;
}
.css-man8h3-defaultStyle .userBaseInfo::after {
    content: "";
    display: block;
    clear: both;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox {
    float: left;
    width: 315px;
    height: 50px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade {
    float: left;
    width: 50px;
    text-align: center;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade > a {
    display: block;
}
.css-n2sa3z-defaultStyle-underlineStyle-Linked {
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: underline;
    background: transparent;
    color: rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox.gradeType1 .ico {
    background-image: url(https://media.bunjang.co.kr/product/177600551_1_1643548856_w320.jpg);
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade .ico {
    display: block;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.css-n2sa3z-defaultStyle-underlineStyle-Linked i {
    vertical-align: middle;
    margin-left: 4px;
}
i, address, em {
    font-style: normal;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade {
    float: left;
    width: 50px;
    text-align: center;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail {
    float: left;
    width: calc(100% - 70px);
    margin-left: 10px;
    padding: 2px 20px 0px 0px;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 22px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail p {
    margin-top: 4px;
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 18px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox.gradeType1 .gradeText {
    color: #25C7A0;
}
.css-f0fihq-defaultStyle-icon_094-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 9px;
    background-position: -3390px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}

.css-man8h3-defaultStyle .userBaseInfo .benefitList {
    float: left;
    width: calc(100% - 315px);
    height: 50px;
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList li {
    float: left;
    width: 207px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    border-left: 1px solid rgb(238, 238, 238);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList em {
    vertical-align: top;
    font-size: 15px;
    color: rgb(102, 102, 102);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .num {
    margin-top: 7px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .num a, .css-man8h3-defaultStyle .userBaseInfo .benefitList .num strong {
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    line-height: 1;
}

.css-man8h3-defaultStyle .userBaseInfo .benefitList .tooltip {
    position: relative;
    margin-left: 5px;
    display: inline-block;
}
.css-li9w5-defaultStyle {
    position: relative;
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .tooltip .btnTooltip {
    height: 17px;
}
.css-k6rw8e-defaultStyle-Button {
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    background: transparent;
    height: 30px;
    font-size: 12px;
}
button {
    border: 0px;
    background: none;
    cursor: pointer;
    outline: 0px;
}
.css-1pljhli-defaultStyle-icon_020-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    background-position: -734px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}
b {
    font-weight: normal;
}

/* 주문정보 */
.css-man8h3-defaultStyle .userTimelineBox {
    position: relative;
    margin-top: 30px;
    padding: 30px 30px;
    background: rgb(249, 250, 251);
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox {
    margin-top: 0px;
}
.css-qma8am-mypageTitleStyle.subTitle {
    padding-bottom: 18px;
}

.css-qma8am-mypageTitleStyle {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.css-qma8am-mypageTitleStyle.subTitle .title {
    font-size: 24px;
    font-weight: 600;
}
.css-qma8am-mypageTitleStyle .title {
    display: inline-block;
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox p {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox .rightArea {
    bottom: 20px;
}
.css-qma8am-mypageTitleStyle .rightArea {
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.css-1y1dd3a-defaultStyle-lineBlackStyle-Button {
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.css-f0fihq-defaultStyle-icon_094-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 9px;
    background-position: -3390px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}

.css-man8h3-defaultStyle .orderSummaryBox {
    height: 112px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 13px 0px;
}
.css-man8h3-defaultStyle .orderSummaryBox ul {
    overflow: hidden;
}
.css-man8h3-defaultStyle .orderSummaryBox li {
    position: relative;
    float: left;
    width: 20%;
    height: 112px;
    padding: 25px 0px 0px;
}
.css-man8h3-defaultStyle .orderSummaryBox em {
    display: block;
    margin-bottom: 19px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.css-man8h3-defaultStyle .orderSummaryBox .num {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
}
.css-y9z3ts-defaultStyle-Linked {
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    background: transparent;
    color: rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .orderSummaryBox li::before {
    content: "";
    display: block;
    position: absolute;
    left: -14px;
    top: 50px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-width: 0px 1px 1px 0px;
    padding: 8px;
    transform: rotate(-45deg);
}
.css-man8h3-defaultStyle .orderSummaryBox li:last-of-type {
    border-left: 1px solid rgb(238, 238, 238);
}
/* >표시 가리는 코드 */
.css-man8h3-defaultStyle .orderSummaryBox li:first-of-type::before, .css-man8h3-defaultStyle .orderSummaryBox li:last-of-type::before {
    display: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* 찜상품, 최근 본 상품 */
.css-qma8am-mypageTitleStyle.subTitle.borderStyle {
    border-bottom: 2px solid rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .mypageTitleBox {
    margin-top: 60px;
}
.css-man8h3-defaultStyle .wishList {
    margin-top: 25px;
}
.css-man8h3-defaultStyle .wishList ul {
    margin-left: -20px;
}
.css-1eog3zh-noResultStyle-MypageMainWishItem .emptyBox {
    height: auto;
    padding: 35px 0px 59px;
}
.css-szzxfb-noResultStyle-MyPageNoResult {
    height: 345px;
    padding: 215px 0px 180px;
    text-align: center;
}
.css-szzxfb-noResultStyle-MyPageNoResult .LinkerMoveTo {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 15px;
    line-height: 2.5;
    display: inline-block;
}
a:hover, a:active {
    color: rgb(51, 51, 51);
}

.css-szzxfb-noResultStyle-MyPageNoResult p.mainText {
    margin-bottom: 15px;
    font-size: 21px;
    color: rgb(51, 51, 51);
    
}
.css-szzxfb-noResultStyle-MyPageNoResult p {
    line-height: 1;
}
.css-szzxfb-noResultStyle-MyPageNoResult p.subText {
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}

.css-man8h3-defaultStyle .wishList ul::after {
    content: "";
    display: block;
    clear: both;
}
.css-1m23rrt-noResultStyle-MyPageSellerItem .emptyBox {
    height: auto;
    padding: 35px 0px 59px;
}

/* 마이페이지 */
.css-11849r4-defaultStyle .myPageContainer {
    float: left;
    width: calc(100% - 260px);
}
.css-qma8am-mypageTitleStyle.mainTitle.borderStyle {
    border-bottom: 1px solid rgb(51, 51, 51);
}
.css-qma8am-mypageTitleStyle.mainTitle {
    padding-bottom: 35px;
}
.css-qma8am-mypageTitleStyle {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.css-qma8am-mypageTitleStyle.mainTitle .title {
    font-size: 36px;
    font-weight: 600;
}
.css-qma8am-mypageTitleStyle .title {
    display: inline-block;
}
.css-qma8am-mypageTitleStyle .rightArea {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

/* 마이페이지 본문 */
p {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.myp-form-wrap {
    display: flex;
    flex-flow: column;
}
.myp-form-wrap .form-title {
    font-size: 14px;
    color: rgba(0,0,0,.4);
    font-weight: 500;
    margin-top: 12px;
}
*, :after, :before {
    box-sizing: border-box;
}
.myp-form-wrap .form-title {
    margin-top: 24px;
    padding-left: 0;
    font-size: 16px;
}
.myp-form-col {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 12px;
}
.input-group.inline {
    height: auto;
}
.input-group {
    width: 100%;
    height: auto;
}

.input-group.inline .control-label {
    width: 29%;
}
.myp-form-col .control-label {
    font-size: 16px;
}
.input-group.inline {
    height: auto;
}

.input-group .control-label, .input-group .static-field {
    line-height: 42px;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
    color: #454545;
}
.input-group.inline .control-field, .input-group.inline .static-field {
    float: right;
    width: 70%;
}
.control-field.col, .static-field.col {
    display: flex;
}
.control-field.col *+*, .static-field.col *+* {
    margin-left: 8px;
}
input[type=text] {
    width: 100%;
    height: 42px;
    border: 1px solid #ebebeb;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0;
    border-radius: 4px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.myp-form-col .subtle {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-weight: 500;
    color: rgba(0,0,0,.5);
}
.myp-form-col *+.subtle {
    float: right;
}
.input-group+.input-group {
    margin-top: 12px;
}

/* 수정 확인*/
.lnb-form-action {
    padding: 24px 0;
    text-align: center;
}
.btn {
    white-space: nowrap;
}
.btn-default {
    height: 42px;
    padding: 0 40px;
    color: #fff;
    background-color: #898989;
}
.btn {
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
}
.lnb-form-action .btn-primary {
    height: 42px;
    padding: 0 40px;
}
.lnb-form-action button+button {
    margin-left: 8px;
}
.btn-primary {
    height: 52px;
    color: #fff;
    background-color: #25C7A0;
}


/* 배송관리 */
.css-106ihda-defaultStyle .boxBaseDelivery {
    margin: 0px 0px 20px;
    padding: 30px 50px;
    border-radius: 3px;
    background: rgb(249, 250, 251);
}
.css-106ihda-defaultStyle .boxBaseDelivery dl {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.css-106ihda-defaultStyle .boxBaseDelivery dt {
    min-width: 150px;
    font-size: 15px;
    font-weight: 600;
}
dt {
    display: block;
}
.css-106ihda-defaultStyle .boxBaseDelivery dd {
    font-size: 15px;
}
.css-106ihda-defaultStyle .boxBaseDelivery dd strong {
    color: #25C7A0;
}
.css-106ihda-defaultStyle .boxBaseDelivery dd p {
    margin-top: 5px;
}
.css-106ihda-defaultStyle .boxBaseDelivery dd span {
    display: inline-block;
    position: relative;
    color: rgb(102, 102, 102);
    margin-left: 10px;
    padding-left: 10px;
}
.css-106ihda-defaultStyle .boxBaseDelivery dd span::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 1px;
    height: 13px;
    background: rgb(221, 221, 221);
}

.css-106ihda-defaultStyle .addressTable {
    margin: 0px 0px 10px;
}
.css-j67mw4-defaultStyle {
    position: relative;
}
.css-j67mw4-defaultStyle table {
    position: relative;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    word-break: break-all;
}
caption {
    overflow: hidden;
    height: 0px;
    line-height: 0;
    color: transparent;
    font-size: 1px;
}
colgroup {
    display: table-column-group;
}
.css-j67mw4-defaultStyle thead th {
    padding: 19px 13px 20px;
    border-top: 3px solid rgb(51, 51, 51);
    background-color: rgb(249, 250, 251);
    border-bottom: 0px;
    font-weight: normal;
}
.css-106ihda-defaultStyle .addressTable thead th {
    font-size: 14px;
    font-weight: 600;
    border-top-width: 1px;
}
.css-106ihda-defaultStyle .addressTable tbody td {
    padding: 22px 10px;
    font-size: 14px;
    line-height: 1.29;
    border-color: rgb(238, 238, 238);
}
.css-j67mw4-defaultStyle tbody td {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.css-106ihda-defaultStyle .addressTable .radioBox {
    height: 16px;
    vertical-align: middle;
}
.css-1mdkf15-defaultStyle {
    display: inline-block;
    position: relative;
}
.css-1mdkf15-defaultStyle input[type="radio"] {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px;
    top: 0px;
}
.css-1mdkf15-defaultStyle .radioLabel {
    display: inline-block;
    position: relative;
    min-height: 17px;
    padding-left: 17px;
}
.css-j67mw4-defaultStyle .radioLabel {
    margin-right: 0px !important;
}
select, label {
    cursor: pointer;
}
.css-1mdkf15-defaultStyle .radioShape {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgb(153, 153, 153);
    background: rgb(255, 255, 255);
}
.css-j67mw4-defaultStyle .radioLabel .radioShape {
    margin-right: 0px !important;
}
.css-1mdkf15-defaultStyle input[type="radio"]:checked + .radioLabel .radioShape {
    border: 1px solid #25C7A0;
}
.css-1mdkf15-defaultStyle input[type="radio"]:checked + .radioLabel .radioShape::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #25C7A0;
}
.css-j67mw4-defaultStyle th, .css-j67mw4-defaultStyle td {
    padding: 18px 13px 21px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    vertical-align: middle;
    text-align: center;
}
.css-106ihda-defaultStyle .addressTable .address {
    text-align: left;
}
.css-106ihda-defaultStyle .addressTable .address span {
    font-weight: 600;
}
.css-j67mw4-defaultStyle .btnWrap {
    min-width: 23px;
}
.css-106ihda-defaultStyle .addressTable .btnWrap button {
    display: block;
    margin: 0px auto;
    height: 22px;
    color: rgb(153, 153, 153);
}
.css-1b6ft4t-defaultStyle-blackStyle-Button {
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    width: 110px;
    height: 30px;
    font-size: 12px;
}
/* 쿠폰 */
.css-omrrhd-defaultStyle .couponHead {
    display: flex;
    float: right;
    align-items: flex-end;
    position: relative;
    margin-top: -76px;
}
.css-omrrhd-defaultStyle .couponHead .couponTotal {
    height: 23px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
}
.css-omrrhd-defaultStyle .couponHead .couponReg {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid rgb(221, 221, 221);
}
.css-omrrhd-defaultStyle .couponHead .couponReg button {
    line-height: 0;
    color: rgb(51, 51, 51);
}
.css-nc9j3n-defaultStyle-Button {
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    background: transparent;
    width: 100px;
    height: 30px;
    font-size: 12px;
}
.css-omrrhd-defaultStyle .tabList {
    position: relative;
}
.css-omrrhd-defaultStyle .tabList ul {
    display: flex;
}
.css-omrrhd-defaultStyle .tabList ul li {
    line-height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 221);
    width: 235px;
    height: 60px;
    display: inline-block;
    text-align: center;
}
.css-omrrhd-defaultStyle .tabList ul li button.on {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.css-omrrhd-defaultStyle .tabList ul li button:first-child {
    border-left-style: none;
}
.css-omrrhd-defaultStyle .tabList ul li button {
    width: 235px;
    height: 60px;
    padding: 0px 16px;
    font-size: 18px;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: none solid solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}
.css-omrrhd-defaultStyle .couponListHead .sortTypeList button::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 0px;
    width: 1px;
    height: 12px;
    background-color: rgb(136, 136, 136);
}
.css-omrrhd-defaultStyle .couponListHead {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    padding : 20px;
}
.css-omrrhd-defaultStyle .couponListHead .sortTypeList button.on {
    color: rgb(51, 51, 51);
    font-weight: 600;
}
.css-omrrhd-defaultStyle .couponListHead .sortTypeList button {
    position: relative;
    font-size: 15px;
    padding-right: 15px;
    margin-right: 15px;
    color: rgb(153, 153, 153);
}
.css-omrrhd-defaultStyle .couponList {
    position: relative;
    margin-left: -41px;
}
.css-omrrhd-defaultStyle .couponList::after {
    content: "";
    display: block;
    clear: both;
}
.css-omrrhd-defaultStyle .couponListHead .sortTypeList button:last-of-type::after {
    display: none;
}
.css-fzw2w6-noticeListStyle {
    margin-top: 60px;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 20px;
}
.css-fzw2w6-noticeListStyle li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(102, 102, 102);
}
.css-1vz83ui-bulletTypeCircle {
    position: relative;
    padding-left: 7px;
}
.css-fzw2w6-noticeListStyle li::before {
    background: rgb(153, 153, 153);
}
.css-1vz83ui-bulletTypeCircle::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 9px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(102, 102, 102);
}

/* 히든 본문*/
.css-1xsxxpf-noResultStyle-MyPageNoResult {
    height: 345px;
    padding: 215px 0px 180px;
    text-align: center;
    background: url(/static/images/units/ico_coupon.png) center 120px no-repeat;
}
.css-1xsxxpf-noResultStyle-MyPageNoResult p.mainText {
    margin-bottom: 15px;
    font-size: 21px;
    color: rgb(51, 51, 51);
}
.css-1xsxxpf-noResultStyle-MyPageNoResult p {
    line-height: 1;
}
.css-1xsxxpf-noResultStyle-MyPageNoResult p.subText {
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}
.css-1xsxxpf-noResultStyle-MyPageNoResult .LinkerMoveTo {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 15px;
    line-height: 2.5;
    display: inline-block
}

 /* 쿠폰 */
 .css-omrrhd-defaultStyle .couponList {
    position: relative;
    margin-left: -41px;
}
.css-omrrhd-defaultStyle .couponList .couponListItem:nth-child(-n+3) {
    margin-top: 20px;
}
.css-omrrhd-defaultStyle .couponList .couponListItem {
    float: left;
    margin-top: 40px;
    margin-left: 41px;
}
.css-omrrhd-defaultStyle .couponList .couponItem {
    width: 286px;
    height: 162px;
}
.css-1wz5767-defaultStyle {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 160px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
}
.css-1wz5767-defaultStyle.myCoupon button {
    cursor: default;
}
.css-1wz5767-defaultStyle .couponInfo {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 16px 85px 20px 20px;
}
.css-1wz5767-defaultStyle .couponInfo .benefit {
    font-size: 14px;
    color: rgb(51, 51, 51);
}
.css-1wz5767-defaultStyle .couponInfo .benefit span {
    display: inline-block;
    vertical-align: baseline;
}
.css-1onm48p {
    overflow: hidden;
    margin-right: 3px;
    font-weight: 400;
    cursor: default;
    width: 48px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #25C7A0;
}
.css-1wz5767-defaultStyle .couponInfo .benefit strong {
    font-family: priceValueWebFont;
    font-size: 28px;
    font-weight: 600;
    vertical-align: baseline;
    letter-spacing: -0.42px;
    line-height: 1.18;
}
.css-1wz5767-defaultStyle .couponInfo .benefit em {
    margin-left: 2px;
}
.css-1wz5767-defaultStyle .couponInfo .couponName {
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    line-height: 1.43;
    letter-spacing: -0.42px;
}
.css-1wz5767-defaultStyle .couponInfo .info {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    font-size: 12px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
}
.css-1wz5767-defaultStyle .couponInfo .date {
    margin-top: 5px;
    display: block;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.css-c4diam {
    overflow: hidden;
    margin-right: 3px;
    font-weight: 400;
    cursor: default;
    width: 48px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #25C7A0;
}


/* 22 */
.mytmall_tbl1 {
    position: relative;
    z-index: 20;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}
:root .mytmall_tbl1 table {
    width: 100%;
    border-spacing: 0;
}
caption {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.mytmall_tbl1 table thead th {
    height: 45px;
	font-size: 18px;
    text-align: center;
    color: #ebebeb;
    letter-spacing: -1px;
	font-weight: 400;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    background-color: rgb(34, 34, 34);
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.mytmall_tbl1 table tbody tr.first td {
    border-top: none;
}
.mytmall_tbl1 table tbody td.first {
    border-left: none;
}
.mytmall_tbl1 table tbody td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #dadada;
    padding: 2px 0 14px 0;
}
.mytmall_tbl1 table tbody td p.alignL {
    text-align: left;
    padding-left: 11px;
    font-size: 18px;
}

.mytmall_tbl1 .fnt_1 {
    color: #333;
    line-height: 15px;
}
.mytmall_tbl1 .fnt_12 {
    color: #757575;
}
.mytmall_tbl1 .bLine {
    color: #c1c1c1;
}
.mytmall_tbl1 table tbody td p {
    text-align: center;
    color: #666;
    margin-bottom: 2px;
    padding: 0 5px;
        font-size: 18px;
}
.myt_noti_wrap {
    width: 54px;
    margin: 5px auto 2px auto;
    padding: 1px 0 0 0;
    overflow: hidden;
}
.myt_ico4 {
    background-position: 0 -51px;
    margin: -1px auto 4px auto;
}
.myt_ico {
    display: block;
    float: left;
    width: 54px;
    height: 15px;
    margin: 0 3px 4px 0;
    background: url(/img/mytmall_v2/ico_set.gif) no-repeat 0 0;
    text-indent: -9999px;
}
.custom-button {
  border: 1px solid rgb(255, 255, 255); /* 테두리 스타일과 색상 지정 */
  background-color: rgb(31, 209, 224); /* 배경색 지정 */
  color: #fff; /* 글자색 지정 */
  padding: 5px 10px; /* 내부 여백 지정 */
  cursor: pointer; /* 커서 스타일 지정 */
  border-radius: 5px; /* 버튼 모서리 둥글게 만듦 */
}

.custom-button:hover {
  background-color: rgb(10, 165, 169); /* 마우스 호버 시 배경색 변경 */
}

.custom-button2 {
  border: 1px solid rgb(31, 209, 224); /* 테두리 스타일과 색상 지정 */
  background-color: rgb(255, 255, 255); /* 배경색 지정 */
  color: rgb(31, 209, 224); /* 글자색 지정 */
  padding: 5px 10px; /* 내부 여백 지정 */
  cursor: pointer; /* 커서 스타일 지정 */
  border-radius: 5px; /* 버튼 모서리 둥글게 만듦 */
}

.custom-button2:hover {
  background-color: rgb(244, 250, 254); /* 마우스 호버 시 배경색 변경 */
}

.custom-button3 {
  border: 1px solid rgb(5, 220, 181); /* 테두리 스타일과 색상 지정 */
  background-color: rgb(255, 255, 255); /* 배경색 지정 */
  color: rgb(5, 220, 181); /* 글자색 지정 */
  padding: 15px 40px; /* 내부 여백 지정 */
  cursor: pointer; /* 커서 스타일 지정 */
  border-radius: 5px; /* 버튼 모서리 둥글게 만듦 */
}

.custom-button3:hover {
  background-color: snow; /* 마우스 호버 시 배경색 변경 */
}