@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, div, p, header, main, video, audio, footer, nav, aside, article, span, em, strong, i, ol, ul, li, a, legend, fieldset, label, input, select, textarea, button, time, abbr, address, area, b, br, table, caption, summary, tbody, thead, tfoot, tr, th, td, dl, dt, dd, figcaption, figure, form, iframe, mark, pre, hr {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Apple SD Gothic Neo", AppleGothic, globalWebFont, Malgun-gothic, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.css-11849r4-defaultStyle {
    width: 1200px;
    margin: 0px auto;
    padding: 45px 0px 100px;
}
.css-11849r4-defaultStyle::after {
    content: "";
    display: block;
    clear: both;
}
.css-jo3gxq-defaultStyle.myPagelnbWrapper {
    float: left;
    width: 220px;
    margin-right: 40px;
}
.css-jo3gxq-defaultStyle .mypageLnb {
    width: 100%;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbTitle {
    color: rgb(51, 51, 51);
    font-size: 24px;
    line-height: 1;
    margin-bottom: 60px;
}
element.style {
    font-size: inherit;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper {
    padding-bottom: 40px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .mypageLnbSubTitle {
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 1;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .myPageLnbList {
    line-height: 1;
}
ul, ol, li {
    list-style-type: none;
}
.css-jo3gxq-defaultStyle .mypageLnb .mypageLnbListWrapper .myPageLnbList a {
    line-height: 1;
    display: inline-block;
    margin-top: 20px;
    padding-left: 10px;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
/* 본문 */

.css-11849r4-defaultStyle .myPageContainer {
    float: left;
    width: calc(100% - 260px);
}
.css-man8h3-defaultStyle .userBaseInfo {
    position: relative;
    z-index: 5;
}
.css-man8h3-defaultStyle .userBaseInfo::after {
    content: "";
    display: block;
    clear: both;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox {
    float: left;
    width: 315px;
    height: 50px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade {
    float: left;
    width: 50px;
    text-align: center;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade > a {
    display: block;
}
.css-n2sa3z-defaultStyle-underlineStyle-Linked {
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: underline;
    background: transparent;
    color: rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox.gradeType1 .ico {
    background-image: url(https://media.bunjang.co.kr/product/177600551_1_1643548856_w320.jpg);
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade .ico {
    display: block;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.css-n2sa3z-defaultStyle-underlineStyle-Linked i {
    vertical-align: middle;
    margin-left: 4px;
}
i, address, em {
    font-style: normal;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .grade {
    float: left;
    width: 50px;
    text-align: center;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail {
    float: left;
    width: calc(100% - 70px);
    margin-left: 10px;
    padding: 2px 20px 0px 0px;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 22px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail p {
    margin-top: 4px;
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 18px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox .gradeDetail a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2px;
}
.css-man8h3-defaultStyle .userBaseInfo .userGradeBox.gradeType1 .gradeText {
    color: #25C7A0;
}
.css-f0fihq-defaultStyle-icon_094-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 9px;
    background-position: -3390px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}

.css-man8h3-defaultStyle .userBaseInfo .benefitList {
    float: left;
    width: calc(100% - 315px);
    height: 50px;
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList li {
    float: left;
    width: 207px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    border-left: 1px solid rgb(238, 238, 238);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList em {
    vertical-align: top;
    font-size: 15px;
    color: rgb(102, 102, 102);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .num {
    margin-top: 7px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .num a, .css-man8h3-defaultStyle .userBaseInfo .benefitList .num strong {
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    line-height: 1;
}

.css-man8h3-defaultStyle .userBaseInfo .benefitList .tooltip {
    position: relative;
    margin-left: 5px;
    display: inline-block;
}
.css-li9w5-defaultStyle {
    position: relative;
}
.css-man8h3-defaultStyle .userBaseInfo .benefitList .tooltip .btnTooltip {
    height: 17px;
}
.css-k6rw8e-defaultStyle-Button {
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    background: transparent;
    height: 30px;
    font-size: 12px;
}
button {
    border: 0px;
    background: none;
    cursor: pointer;
    outline: 0px;
}
.css-1pljhli-defaultStyle-icon_020-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    background-position: -734px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}
b {
    font-weight: normal;
}

/* 주문정보 */
.css-man8h3-defaultStyle .userTimelineBox {
    position: relative;
    margin-top: 30px;
    padding: 30px 30px;
    background: rgb(249, 250, 251);
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox {
    margin-top: 0px;
}
.css-qma8am-mypageTitleStyle.subTitle {
    padding-bottom: 18px;
}

.css-qma8am-mypageTitleStyle {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.css-qma8am-mypageTitleStyle.subTitle .title {
    font-size: 24px;
    font-weight: 600;
}
.css-qma8am-mypageTitleStyle .title {
    display: inline-block;
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox p {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}
.css-man8h3-defaultStyle .userTimelineBox .mypageTitleBox .rightArea {
    bottom: 20px;
}
.css-qma8am-mypageTitleStyle .rightArea {
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.css-f0fihq-defaultStyle-icon_094-Icon {
    display: inline-block;
    background-image: url(/static/images/sprites/spritesheet.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 9px;
    background-position: -3390px -5px;
}
.css-1ypm30w-ir {
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
}

.css-man8h3-defaultStyle .orderSummaryBox {
    height: 112px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 13px 0px;
}
.css-man8h3-defaultStyle .orderSummaryBox ul {
    overflow: hidden;
}
.css-man8h3-defaultStyle .orderSummaryBox li {
    position: relative;
    float: left;
    width: 20%;
    height: 112px;
    padding: 25px 0px 0px;
}
.css-man8h3-defaultStyle .orderSummaryBox em {
    display: block;
    margin-bottom: 19px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.css-man8h3-defaultStyle .orderSummaryBox .num {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
}
.css-y9z3ts-defaultStyle-Linked {
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    background: transparent;
    color: rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .orderSummaryBox li::before {
    content: "";
    display: block;
    position: absolute;
    left: -14px;
    top: 50px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-width: 0px 1px 1px 0px;
    padding: 8px;
    transform: rotate(-45deg);
}
.css-man8h3-defaultStyle .orderSummaryBox li:last-of-type {
    border-left: 1px solid rgb(238, 238, 238);
}
/* >표시 가리는 코드 */
.css-man8h3-defaultStyle .orderSummaryBox li:first-of-type::before, .css-man8h3-defaultStyle .orderSummaryBox li:last-of-type::before {
    display: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* 찜상품, 최근 본 상품 */
.css-qma8am-mypageTitleStyle.subTitle.borderStyle {
    border-bottom: 2px solid rgb(51, 51, 51);
}
.css-man8h3-defaultStyle .mypageTitleBox {
    margin-top: 60px;
}
.css-man8h3-defaultStyle .wishList {
    margin-top: 25px;
}
.css-man8h3-defaultStyle .wishList ul {
    margin-left: -20px;
}
.css-1eog3zh-noResultStyle-MypageMainWishItem .emptyBox {
    height: auto;
    padding: 35px 0px 59px;
}
.css-szzxfb-noResultStyle-MyPageNoResult {
    height: 345px;
    padding: 215px 0px 180px;
    text-align: center;
}
.css-szzxfb-noResultStyle-MyPageNoResult .LinkerMoveTo {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 15px;
    line-height: 2.5;
    display: inline-block;
}
a:hover, a:active {
    color: rgb(51, 51, 51);
}

.css-szzxfb-noResultStyle-MyPageNoResult p.mainText {
    margin-bottom: 15px;
    font-size: 21px;
    color: rgb(51, 51, 51);
    
}
.css-szzxfb-noResultStyle-MyPageNoResult p {
    line-height: 1;
}
.css-szzxfb-noResultStyle-MyPageNoResult p.subText {
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}

.css-man8h3-defaultStyle .wishList ul::after {
    content: "";
    display: block;
    clear: both;
}
.css-1m23rrt-noResultStyle-MyPageSellerItem .emptyBox {
    height: auto;
    padding: 35px 0px 59px;
}

/* 마이페이지 */
.css-11849r4-defaultStyle .myPageContainer {
    float: left;
    width: calc(100% - 260px);
}
.css-qma8am-mypageTitleStyle.mainTitle.borderStyle {
    border-bottom: 1px solid rgb(51, 51, 51);
}
.css-qma8am-mypageTitleStyle.mainTitle {
    padding-bottom: 35px;
}
.css-qma8am-mypageTitleStyle {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.css-qma8am-mypageTitleStyle.mainTitle .title {
    font-size: 36px;
    font-weight: 600;
}
.css-qma8am-mypageTitleStyle .title {
    display: inline-block;
}
.css-qma8am-mypageTitleStyle .rightArea {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

/* 마이페이지 본문 */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.myp-form-wrap {
    display: flex;
    flex-flow: column;
}
.myp-form-wrap .form-title {
    font-size: 14px;
    color: rgba(0,0,0,.4);
    font-weight: 500;
    margin-top: 12px;
}
*, :after, :before {
    box-sizing: border-box;
}
.myp-form-wrap .form-title {
    margin-top: 24px;
    padding-left: 0;
    font-size: 16px;
}
.myp-form-col {
    cursor: pointer;
}
.myp-form-col {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 12px;
}
.input-group.inline {
    height: auto;
}
.input-group {
    width: 100%;
    height: auto;
}

.input-group.inline .control-label {
    width: 29%;
}
.myp-form-col .control-label {
    font-size: 16px;
}
.input-group.inline {
    height: auto;
}
.input-group.inline * {
    display: inline-block;
}
.input-group .control-label, .input-group .static-field {
    line-height: 42px;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
    color: #454545;
}
.input-group.inline .control-field, .input-group.inline .static-field {
    float: right;
    width: 70%;
}
.control-field.col, .static-field.col {
    display: flex;
}
.control-field.col *+*, .static-field.col *+* {
    margin-left: 8px;
}
input[type=text] {
    width: 100%;
    height: 42px;
    border: 1px solid #ebebeb;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0;
    border-radius: 4px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.myp-form-col .subtle {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-weight: 500;
    color: rgba(0,0,0,.5);
}
.myp-form-col *+.subtle {
    float: right;
}
.input-group+.input-group {
    margin-top: 12px;
}

/* 수정 확인*/
.lnb-form-action {
    padding: 24px 0;
    text-align: center;
}
.btn {
    white-space: nowrap;
}
.btn-default {
    height: 42px;
    padding: 0 40px;
    color: #fff;
    background-color: #898989;
}
.btn {
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
}
.lnb-form-action .btn-primary {
    height: 42px;
    padding: 0 40px;
}
.lnb-form-action button+button {
    margin-left: 8px;
}
.btn-primary {
    height: 52px;
    color: #fff;
    background-color: #25C7A0;
}

/* 스크롤바 */
.scrollbar-custom ::-webkit-scrollbar {
    width: 15px;
}
.scrollbar-custom ::-webkit-scrollbar-corner, .scrollbar-custom ::-webkit-scrollbar-track {
    background-color: transparent;
}
.scrollbar-custom ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: hsla(0,0%,40%,.4);
    border: 4px solid transparent;
    border-radius: 8px;
    border-right-width: 3px;
}
